h1, h2, h3 {
    color: var(--main-color);
    text-decoration: none;
    margin: 0;
    line-height: normal;
    font-style: normal;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
    font-family: var(--main-font);
}

h2 {
    font-family: var(--second-font);
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 500;
}

h4 {
    color: #E4E5EA;
    font-family: var(--second-font);
    font-size: 1rem;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 30px;
}

p {
    font-size: 0.7rem;
    color: var(--main-color);
    font-family: var(--second-font);
    font-weight: 300;
}

a {
    transition: ease-in-out 0.4s;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-decoration: none;
    color: var(--main-color);
    white-space: nowrap;

}

a:hover {
    cursor: pointer;
    color: var(--button-color);
}

a:first-child {
    margin-left: 0;
}

a:last-child {
    margin-right: 0;
}


.content {
    position: absolute;
    z-index: 2;
}

body {
    background: var(--main_background);
    font-family: var(--main-font);
    font-size: var(--standart-size);
    margin: 0 10vw;
    position: relative;
}

button {
    background: var(--button-color);
    color: var(--main-color);
    font-family: var(--second-font);
    font-size: 1.1rem;
    padding: 25px 30px;
    margin: 30px 0 30px 0;
    border: none;
    transition: ease-in-out 0.5s;
    grid-column-start: 2;
    grid-column-end: 3;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px var(--button-color);

}

.header {
    width: 100%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.logo_wrapper {
    width: 55%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: end;
    justify-content: space-between;
}

.logo2 {
    margin-left: 10px;
    align-self: center;
    transform: scale(1.1);
}

.menu_important {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-self: end;
    gap: 30px;
    padding: 0;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 300;
}

.links {
    align-self: start;
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 25px;
}


.links_communication {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    gap: 10px;
    margin-left: 50px;
}

.logo_label {
    grid-column-start: 1;
    grid-column-end: 3;
}


.banners {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.left_banner_container {
    width: 350px;
}

.left_banner_second {
    font-weight: 900;
    background: linear-gradient(#e4fc45, #FF3F78);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.right_banner_container {
    width: 400px;
    display: grid;
    justify-self: end;
}

.header_banner_right {
    text-align: right;
    justify-self: end;
    font-weight: 500;
    letter-spacing: 1.1px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 30px;
}

.content_banner_right {
    width: 90%;
    justify-self: end;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    color: var(--main-color);
}

.banner {
    text-align: right;
    word-break: break-word;
}

.banner_mobile {
    display: none;
}

.title_banner_right_free {
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


.footer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.company, .menu, .contacts {
    color: var(--color-footer-titles);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
}

.contacts {
    text-align: right;
}

.company_content, .menu_content, .contacts_content {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-gap: 10px;
    margin-top: 30px;
    font-weight: 400;
    align-content: start;
}

.menu_content {
    grid-template-columns:  40% 40%;
}

.menu_content_mobile {
    display: none;
}

.contacts_content {
    grid-template-rows: repeat(3, min-content);
}

.privy_policy {
    text-align: right;
    font-weight: 400;
    justify-self: end;
    margin-top: 70px;
}

.privy_policy_start {
    margin: 5px;
    font-size: 0.8rem;
}

.privy_policy_end {
    text-decoration-line: underline;
    font-size: 0.8rem;
    margin: 0;
}

.balls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}

.red_light, .purple_light, .red_ball, .red_ball_little, .purple_ball {
    position: absolute;
    border-radius: 100%;
    flex-shrink: 0;
}

.red_light, .purple_light {
    opacity: 0.5;
    filter: blur(196px);
}

.red_light {
    width: 310px;
    height: 310px;
    background: var(--red-light-background);
    top: 30%;
    left: -20%;
}

.purple_light {
    width: 260px;
    height: 260px;
    background: var(--purple-light-background);
    top: -15%;
    left: 40%;
}

.red_ball, .red_ball_little {
    z-index: 0;
    fill: var(--fill-red);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
}

.red_ball {
    top: 5%;
    left: 32%;
    width: 80px;
    height: 80px;
}

.red_ball_little {
    top: 50%;
    left: 53%;
    width: 30px;
    height: 30px;
    transform: scale(0.4);
}

.purple_ball {
    top: -1%;
    left: 55%;
    width: 60px;
    height: 60px;
    fill: var(--fill-purple);
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
}

.noise {
    display: none;
}


@media screen and (max-width: 1401px) {
    a {
        font-size: 1rem;
    }

    .menu_important {
        gap: 20px;
    }
}

@media screen and (max-width: 1201px) {
    body {
        margin: 0 2vw;
    }

    .menu_important {
        grid-template-columns: 3fr 1fr 1fr;
    }

    .links_communication {
        margin-left: 10px;
    }

    .links {
        font-size: 0.7rem;
    }
}


@media screen and (max-width: 1025px) {
    body {
        overflow-x: hidden;
        position: relative;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        display: flex;
        width: 100%;
    }

    .menu_important {
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
        background: #0E1014;
    }

    .telephone_number_up {
        display: none;
    }

    button, .banner {
        display: none;
    }

    .content_banner_right {
        justify-self: start;
    }

    .banner_mobile {
        justify-self: left;
        text-align: left;
        display: grid;
        flex-wrap: wrap;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner_mobile_part {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .hide_link_for_mobile {
        display: none;
    }

    .links_communication {
        display: none;
    }

    .logo_wrapper {
        display: none;
    }

    .links {
        width: 100%;
        justify-self: center;
        display: flex;
        text-align: center;
    }

    .banners {
        display: block;
        margin-top: 15vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
    }

    .right_banner_container {
        display: grid;
        grid-template-rows: 1fr 0.4fr 0.4fr;
    }

    .header_banner_right {
        justify-self: left;
        text-align: left;
        margin-top: 30px;
    }

    .title_banner_right_free {
        justify-self: start;
    }

    .second_banner, .fifth_banner {
        justify-self: start;
        text-align: start;
        padding-left: 10px;
        display: flex;
        width: 100%;
    }

    .line_banner {
        margin-top: 10px;
        margin-right: 5px;
        width: 10px;
        height: 2px;
        background: var(--line_banner);
    }

    .footer {
        background: var(--main_background);
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
    }

    .company, .menu, .contacts {
        margin-top: 20px;
    }

    .company {
        width: 100%;
    }

    .company_content, .menu_content, .contacts_content {
        margin-top: 10px;
        gap: 5px;
    }

    .menu {
        width: 100%;
    }

    .contacts {
        width: 100%;
        text-align: start;
    }

    .privy_policy {
        text-align: left;
        width: 100%;
        padding-bottom: 20px;
    }

    .red_light, .red_ball_little, .purple_ball, .red_ball {
        display: none;
    }

    .purple_light {
        background: var(--purple-light-background);
        margin-left: 40vw;
        width: 300px;
        height: 300px;
        position: fixed;
        top: 10vh;
        opacity: 1;
        filter: blur(196px);
    }

    .purple_ball {
        position: absolute;
        display: flex;
        top: 40%;
        left: 85%;
        transform: scale(1.2);
    }

    .red_light {
        display: flex;
        top: 25%;
        left: -15%;
        filter: blur(196px);
    }

    .red_ball {
        display: flex;
        top: 70%;
        left: 5%;
        transform: scale(0.8);
        filter: blur(12px);
    }

    .noise {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        top: -20vh;
        right: 80vw;
        display: flex;
        background: #00ffd0;
        opacity: 0.9;
        filter: blur(196px);
    }
}

@media screen and (max-width: 769px) {

    .menu_content_pc {
        display: none;
    }

    .menu_content_mobile {
        display: flex;
    }

}

@media screen and (max-width: 481px) {

    .links {
        grid-template-columns: repeat(4, min-content);
        grid-gap: 0;
        font-size: 0.3rem;
    }

    .banners {
        margin-top: 10vh;
    }

    .header {
        justify-self: center;
    }

    body {
        margin: 0 5px;
        overflow-x: hidden;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3, .title_banner_right_free {
        font-size: 1rem;
    }

    a, span {
        font-size: 1rem;
    }

    .header_banner_right {
        width: 90%;
        letter-spacing: 0.9px;
    }

    .menu_content {
        margin-top: 5px;
        grid-column-gap: 15px;
        grid-template-columns: repeat(2, 35%);
    }

    .banner_mobile {
        gap: 10px;
        grid-template-columns: repeat(2, min-content);
    }

    .left_banner_second {
        letter-spacing: 0.8px;
    }

    .menu_content_mobile{
        flex-wrap: wrap;
    }

    .red_ball {
        top: 60%;
    }
}